h1{
    text-shadow: 2px 2px #e0afaf
}
p{
    font-size: 30px;
    font-style: Arial;


}
.personalpage{
    text-align: center;
}
.memo{
    border: solid 4px #e0afaf;
}
.free{
    font-size:30px;
    text-align: center;
}

.hh{
    font-style: Arial;
}