h1{
    text-align: center;
    text-shadow: 4px 4px 4px #64a350;
    color: white;
    font-size: 50px;


}
h2{
    font-size: 40px;
    padding: 50px;

}
body{
    background-image: url('https://k-3110.com/wp-content/uploads/2018/09/edgar-chaparro-669210-unsplash-e1535977212996.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}