h1 {
    text-align: center;
    font-size: 40px;
    color:#d64343;
    border:solid 4px #0c0c0c;
  }

#goal{
  font-size: 35px;
  position: relative;
  padding: 1rem 2rem calc(1rem + 10px);
  background: #fcc2c2c0
}
#goal:before{
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid #000;
}
.name{
  font-size: 35px;
  padding: 10px;
}
.weight{
  font-size: 35px;
  padding: 10px;
}
.calorie{
  font-size: 35px;
  padding: 10px;
}
.text{
  font-size: 35px;
  padding: 10px;
}
.record{
  font-size: 35px;
  text-align: center;
  border: solid 
}
.edit{
  font-size: 30px;
}