h1{
    text-shadow: 4px 4px #79aaeb;
    text-align: center;
    color:gray;
    border :solid 4px #000000
}

p{
    font-size: 35px;

}
.teamname{
    font-size: 30px;
    padding: 20px;
    border :solid 4px #51a3da
}
.date{
    font-size: 30px;
    padding: 20px;
    border :solid 4px #51a3da
}

.practice{
    font-size: 30px;
    padding: 20px;
    border :solid 4px #51a3da

}
.record_team{
    font-size: 30px;
    padding: 10px;


}