<!DOCTYPE html>
{% load static %}
{% load math_tag %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'detail.css' %}">
    </head>
    
    <body>
    <div class="personalpage">
        <h1>投稿日時</h1>

        <small>{{ record.posted_at }}</small>
        <div class="memo"><h1>個人の記録</h1></div>

        <h1>個人の記録</h1>

        <h1>ニックネーム</h1>
        <p>{{ record.name }}</p>
        <h1>体重</h1>
        <p>{{ record.weight }}kg</p>
        <h1>摂取カロリー</h1>
        <p>{{ record.calorie }}cal</p>
        <p>Goal daily calorie intake</p>
        <p>{{ record.weight | multiple:70 }}cal</p>
        <h1>自由記述</h1>
    </div>
        <div class="free">
            {{ record.text | linebreaksbr }}
        </div>
        <hr>
        <h2>評価しましょう</h2>

        <form action="{% url 'detail' record.id %}" method="post">{% csrf_token %}
            <div>
                <label for="textInput">評価</label>
                <textarea id="textInput" name="text" rows="3"></textarea>
            </div>
            <div>
                <button type="submit">投稿する</button>
            </div>
        </form>
        {% if comments %}
        {% for comment in comments %}
        <div>
            <div>
                <small>[{{ comment.posted_at }}]</small>
            </div>
            <div>
                {{ comment.text | linebreaksbr }}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>評価されていません</p>
        {% endif %}
        <p>
            <a href="{% url 'update' record.id %}">Edit</a>
        </p>
        <p>
            <a href="{% url 'record' %}">記録ページに戻る</a>
            <a href="{% url 'index' %}">ホームページに戻る</a>
        </p>
    </body>
</html>