<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'detail.css' %}">
    </head>
    
    <body>
        <h1>投稿日時</h1>
        <small>{{ record_team.posted_at }}</small>
        <h1>チームの予定内容</h1>
        <h1>チーム名</h1>
        <p>{{ record_team.team }}</p>
        <h1>練習予定日時</h1>
        <p>{{ record_team.date }}</p>
        <h1>練習内容</h1>
        <div>
            {{ record_team.text | linebreaksbr }}
        </div>
        <hr>
        <h2 class="hh">反省内容</h2>

        <form action="{% url 'detail_team' record_team.id %}" method="post">{% csrf_token %}
            <div>
                <label for="textInput">記入欄</label>
                <textarea id="textInput" name="text" rows="3"></textarea>
            </div>
            <div>
                <button type="submit">記録する</button>
            </div>
        </form>
        {% if comment_members %}
        {% for comment_member in comment_members %}
        <div>
            <div>
                <small>[{{ comment_member.posted_at }}]</small>
            </div>
            <div>
                {{ comment_member.text | linebreaksbr }}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>内容がありません</p>
        {% endif %}
        <p>
            <a href="{% url 'update_team' record_team.id %}">Edit</a>
        </p>
        <p>
            <a href="{% url 'team' %}">チームの予定一覧に戻る</a>
            <a href="{% url 'index' %}">ホームページに戻る</a>
        </p>
    </body>
</html>