<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Edit schedule</h1>
        <form action="{% url 'update_team' record_team.id %}" method="post">
            {% csrf_token %}
            <div>
                <label for="teamInput">チーム名</label>
                <input id="teamInput" name="team" type="text" value="{{ record_team.team }}">
            </div>
            <div>
                <label for="dateInput">練習予定日時</label>
                <input id="dateInput" name="date" type="text" value="{{ record_team.date }}">
            </div>
            <div>
                <label for="textInput">練習内容</label>
                <textarea id="textInput" name="text" rows="3" value="{{ record_team.text }}"></textarea>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        <p>
            <a href="{% url 'team' %}">チーム一覧に戻る</a>
            <a href="{% url 'index' %}">ホームページに戻る</a>
        </p>
    </body>
</html>