<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'personal.css' %}">
    </head>
    <body>
        <h1>Edit recored</h1>
        <form action="{% url 'update' record.id %}" method="post">
            {% csrf_token %}
  
            <div class="name">
                <label for="nameInput">ニックネーム</label>
                <input id="nameInput" name="name" type="text" value="{{ record.name }}">
            </div>
            <div class="weight">
                <label for="weightInput">体重</label>
                <input id="weightInput" name="weight" type="text" value="{{ record.weight }}">
            </div>
            <div class="calorie">
                <label for="calorieInput">摂取カロリー</label>
                <textarea id="calorieInput" name="calorie" rows="1" value="{{ record.calorie }}"></textarea>
            </div>
            <div class="text">
                <label for="textInput">自由記述</label>
                <textarea id="textInput" name="text" rows="3" value="{{ record.text }}"></textarea>
            </div>

            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
        <p>
            <a href="{% url 'record' %}">記録ページに戻る</a>
            <a href="{% url 'index' %}">ホームページに戻る</a>
        </p>
    </body>
</html>