<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'index.css' %}">
  </head>
  <body>
    <h1>INIAD Athlete</h1>
    <h2>
      <a href="{% url 'record' %}">個人の記録</a>
    </h2>
    <h2>
      <a href="{% url 'team' %}">チームの練習内容</a>
    </h2>
  </body>
</html>