<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'personal.css' %}">
  </head>
  <body>
    <h1>パーソナルレコード</h1>
    <p>１日の目標摂取カロリーは(体重×70)kcal以上</p>
    <form action="{% url 'personal' %}" method="post">
        {% csrf_token %}
        <div>
          <label for="nameInput">ニックネーム</label>
          <input id="nameInput" name="name" type="text">
        </div>
        <div>
          <label for="weightInput">体重</label>
          <input id="weightInput" name="weight" type="text">
        </div>
        <div>
          <label for="textInput">摂取カロリー</label>
          <textarea id="textInput" name="text" rows="3"></textarea>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
  
      <br>
  
      <a href="{% url 'index' %}">ホームページ</a>
  
    </body>
  </html>