<!DOCTYPE html>
{% load static %}
{% load math_tag %}
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'personal.css' %}">
  </head>
  <body>
    <h1>個人記録ページ</h1>
    <div id="goal">
     <p>１日の目標摂取カロリーは(体重×70)cal以上</p>
    </div>
    <form action="{% url 'record' %}" method="post">
        {% csrf_token %}
        <div class="name">
          <label for="nameInput">ニックネーム</label>
          <input id="nameInput" name="name" type="text">
        </div>
        <div class="weight">
          <label for="weightInput">体重</label>
          <input id="weightInput" name="weight" type="text">
        </div>
        <div class="calorie">
          <label for="calorieInput">摂取カロリー</label>
          <textarea id="calorieInput" name="calorie" rows="1"></textarea>
        </div>
        <div class="text">
          <label for="textInput">自由記述</label>
          <textarea id="textInput" name="text" rows="3"></textarea>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
  
      <br>
      {% if records %}
      {% for record in records %}
      <dic>
        <div class="record">
          <a href="{% url 'detail' record.id %}">{{ record.name }}</a>
          <div>
            <div>
              <small>[{{ record.posted_at }}]</small>
            </div>
            <div>
              体重：{{ record.weight }}kg
            </div>
            <div>
              摂取カロリー：{{ record.calorie }}cal
            </div>
            <p>Goal daily calorie intake</p>
            <p>{{ record.weight | multiple:70 }}cal</p>
            <div>
              自由記述：{{ record.text | linebreaksbr }}
            </div>
            <p>
              <a href="{% url 'delete' record.id %}">削除</a>
            </p>
          </div>
        </div>
      </dic>
      {% endfor %}
      {% else %}
      <p>No record.</p>
      {% endif %}
      <p>
      <a href="{% url 'index' %}">ホームに戻る</a>
      </p>
    </body>
  </html>