<!DOCTYPE html>
<html>
    <head>
        <title>TBD</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>sample</h1>
        <p>no record</p>
        <p>record_id:{{record_id}}</p>
        <br>
    </body>
</html>