<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'team.css' %}">
  </head>
  <body>
    <h1>チーム予定一覧</h1>
    <p>チームの予定を記入してください</p>
    <form action="{% url 'team' %}" method="post">
        {% csrf_token %}
        <div class="teamname">
            <label for="teamInput">チーム名</label>
            <input id="teamInput" name="team" type="text">
        </div>
        <div class="date">
          <label for="dateInput">練習予定日時</label>
          <input id="dateInput" name="date" type="text">
        </div>
        <div class="practice">
          <label for="textInput">練習内容</label>
          <textarea id="textInput" name="text" rows="3"></textarea>
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
  
      <br>
      {% if record_teams %}
      {% for record_team in record_teams %}
      <dic>
        <div class="record_team">
          <a href="{% url 'detail_team' record_team.id %}">{{ record_team.team }}</a>
          <div>
            <div>
              <small>[{{ record_team.posted_at }}]</small>
            </div>
            <div>
              日付{{ record_team.date }}
            </div>
            <div>
              {{ record_team.text | linebreaksbr }}
            </div>
            <p>
              <a href="{% url 'delete_team' record_team.id %}">削除</a>
            </p>
          </div>
        </div>
      </dic>
      {% endfor %}
      {% else %}
      <p>予定はありません</p>
      {% endif %}  
      <a href="{% url 'index' %}">ホームページ</a>
  
    </body>
  </html>